<div class="categories-header">
  <h1>Lista de categorias</h1>
  <button class="btn btn-primary" (click)="onAddCategory()" >Adicionar categoria</button>
</div>


@if (loading()) {
  <p>Carregando...</p>
} @else if (error()) {
  <p>Erro: {{ error() }}</p>
} @else if (categories().length === 0) {
  <p>Nenhuma categoria encontrada.</p>
} @else {
  <ul>
      @for (category of categories(); track category.id) {
      <li>{{ category.name }}
        <button class="btn btn-edit">Editar</button>
        <button class="btn btn-delete" (click)="onClickDeleteCategory(category.id)">Excluir</button>
      </li>
      }
  </ul>
}

<app-generic-modal
    [type]="modalConfig().type"
    [title]="modalConfig().title"
    [message]="modalConfig().message"
    [isOpen]="isModalOpen()"
    (confirm)="onConfirmeModal()"
    (cancel)="isModalOpen.set(false)">

    <!-- O texto abaixo entra no <ng-content> -->
    <p>{{ modalConfig().message }}</p>

</app-generic-modal>

@if (categoryModalOpen()) {

  <app-form-modal
    title="Nova categoria"
    (close)="closeCategoryModal()">

      <form>
        <div>
          <label for="name">Nome</label>
          <input
            id="name"
            type="text">
        </div>

        <button type="submit">
          Salvar
        </button>
      </form>

  </app-form-modal>

}



