.app-layout {
  min-height: 100vh;

  display: block;

  grid-template-columns:
    var(--sidebar-width)
    1fr;

  grid-template-rows:
    var(--header-height)
    1fr;

  grid-template-areas:
    "header header"
    "sidebar main";

  background: var(--bg-main);
  color: var(--text-primary);
}

.app-content {
  display: flex;
  grid-area: main;

  min-width: 0;

  background: var(--bg-main);

  overflow: auto;
}

.page-content {
  padding: 24px 32px;
  width: 100vw;
}