/* You can add global styles to this file, and also import other style files */
:root {
  --header-height: 80px;
  --sidebar-width: 225px;

  --bg-main: #100d08;
  --bg-header: #1b120d;
  --bg-sidebar: #20150f;

  --border-color: #3a291d;

  --text-primary: #f5eadc;
  --text-secondary: #b89b7d;

  --accent: #f15a29;
  --accent-dark: #4a2417;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg-main);
  color: var(--text-primary);
}